# Ignore KiCad backup and swap files
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~

# Ignore KiCad autosave files
*.tmp
*.sav

# Ignore project specific configuration
fp-info-cache
sym-lib-table
fp-lib-table

# Ignore other temporary files
*.tmp
*.log
*.bak
*.swp
